{{!-- <img src="{{asset "images/favicon.png"}}"> --}}

<div class="post" id="posts">
    <div class="post-header"><br/></div>
    <div class="post-content">
        <center>
            Welcome to my little collection of recipes. From my home to yours.
        </center>
    </div>
</div>