<div class="well">
    <iframe id='iframe' src='http://flickrit.com/slideshowholder.php?height=400&width=500&size=medium&keyword=cheese&thumbnails=0&transition=0&layoutType=fixed&sort=0' scrolling='no' frameborder='0' width='500' height='410'></iframe>
</div>