<div class="post">
  <div class="post-header"><br/>
  </div>
  <div class="post-content">
    <a data-pin-do="embedUser" href="http://www.pinterest.com/sramu/">Visit Seetha Ramu's profile on Pinterest.</a>
  </div>
</div>
<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>