<div id="posts">
  <% if @posts.count == 0 %>
    <div class="post">
      <div class="post-header"><br/>
      </div>
      <div class="post-content">
        <h1>I haven't posted anything yet :(</h1>
      </div>
    </div>
  <% end %>
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-header"><br/>
      </div>
      <div class="post-content">
        <center>
          <h2><%= link_to_unless_current post.title, post %></h2>
        </center>
        <hr>
        <small>
          <p class="date">
            <span class="ion-calendar"></span>
            <%= post.created_at.strftime("%d %b. %Y") %>
          </p>
        </small>
        <div class="post-body"><%= post.content %></div>
      </div>
    </div>
    <br>
  <% end %>
</div>
